@media (max-width: 991px) {
    .header {
        margin: 0 20px;
    }
    .promo {
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 91px;
        }
    }
    .consultation {
        .title_left {
            text-align: center;
        }
        &__descr {
            text-align: center;
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 36px;
        }
    }
    .carousel {
        button .prev, .next {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    .header__official {
        display: none;
        }
    .advantage {
        padding: 20px 0 20px 0;
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__icons {
            width: 330px;
            margin-top: 35px;
            span {
                margin-top: 10px;
            }
        &__text {
            margin-top: 20px;
            }
        }  
        .title {
            margin-top: 20px;
        } 
    }
    .consultation {
        .title_left {
            font-size: 27px;
        }
    }
}
    

@media (max-width: 575px) {
    .header {
        margin: 0;
        padding: 0 15px;
        &__logo {
            width: 160px;
        }
        &__phone {
            font-size: 17px;
        }
    }
    .promo {
        &__header {
            font-size: 37px;
            text-align: center;
        }
        &__subheader {
            font-size: 19px;
            text-align: center;
        }
        &__icons {
            width: 365px;
        }
        .button_main {
            width: 245px;
        }
    }
    .advantage {
        &__icons {
            width: 320px;
        }
    }
    .consultation {
        .title_left {
            font-size: 20px;
        }
        &__descr {
            font-size: 17px;
        }
    }
}