@media (max-width: 1100px) {
    .carousel {
        .next {
            display: none;
        }
        .prev {
            display: none;
        }
    }
}

@media (max-width: 991px) {
    .header {
        margin: 0 20px;
    }
    .promo {
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 91px;
        }
    }
    .consultation {
        .title_left {
            text-align: center;
        }
        &__descr {
            text-align: center;
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 36px;
        }
    }
    .catalog {
        &-item {
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    .feed {
        &__item {
            padding: 0 20px
        }
    }
}

@media (max-width: 767px) {
    .header__official {
        display: none;
        }
    .advantage {
        padding: 20px 0 20px 0;
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__icons {
            width: 330px;
            margin-top: 35px;
            span {
                margin-top: 10px;
            }
        &__text {
            margin-top: 20px;
            }
        }
        .title {
            margin-top: 20px;
        }
    }
    .consultation {
        .title_left {
            font-size: 27px;
        }
    }
    .catalog {
        &__tabs {
            li {
            width: 185px;
            }
        }
    }
}



@media (max-width: 576px) {
    .header {
        margin: 0;
        padding: 0 15px;
        &__logo {
            width: 160px;
        }
        &__phone {
            font-size: 17px;
        }
    }
    .promo {
        &__header {
            font-size: 37px;
            text-align: center;
        }
        &__subheader {
            font-size: 19px;
            text-align: center;
        }
        &__icons {
            width: 365px;
        }
        .button_main {
            width: 245px;
        }
    }
    .advantage {
        &__icons {
            width: 320px;
        }
    }
    .consultation {
        .title_left {
            font-size: 20px;
        }
        &__descr {
            font-size: 17px;
        }
    }
    .catalog {
        &__tabs {
            li {
                font-size: 13px;
                width: 123px;
            }
        }
    }
    .footer {
        &__info {
            padding: 45px 20px;
            width: 300px;
            height: 200px;
            }
        &__addr {
            font-size: 16px;
            line-height: 16px;
        }
        &__phone {
            font-size: 16px;
            line-height: 16px;
            margin-bottom: 25px;
        }
        &__social {
            &__item {
                width: 30px;
                height: 30px;
                img {
                    height: 19px;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .catalog {
        .title {
            font-size: 24px;
            }
        &__tabs {
            li {
                width: 105px;
                font-size: 11px;
                }
            }
        }
    .overlay {
        .modal {
            width: 283px;
            min-height: 369px;
            padding: 18px 9px 9px 20px;
            &__subtitle {
                font-size: 15px;
            }
            &__descr {
                font-size: 12px;
            }
        .feed-form, .feed-form input {
            width: 248px;
        }
    }
}
}

@media (max-width: 400px) {
    .header {
        &__logo {
            width: 121px;
            }
        &__phone {
            font-size: 12px;
            }
        .button {
            width: 106px;
            height: 20px;
            font-size: 9px;
            }
        }
    .promo {
        &__header {
            font-size: 30px;
        }
        &__subheader {
            font-size: 15px;
        }
        &__icons {
            width: 265px
        }
        &__icon {
            width: 89px;
            font-size: 10px;
        }
    }
    .consultation {
        .feed-form {
            width: 238px;
            input {
                width: 238px;
            }
        }
    }
    .catalog {
        .title {
            font-size: 20px;
        }
        &__tabs {
            li {
                line-height: 31px;
                height: 31px;
                width: 75px;
                font-size: 7px;
            }
        }
        &-item {
            width: 248px;
            &__price {
                font-size: 14px;
            }
            .button_mini {
                width: 120px;
                height: 31px;
            }
        }
    }
    .feed {
        &__item {
            flex-direction: column;
            margin: 0 auto;
        }
        &__foto {
            margin: 0 auto;
        }
        &__text {
            text-align: center;
            margin: 0 19px;
            margin-top: 20px;
        }
        &__descr {
            font-size: 12px;
        }
    }
    .overlay {
        .modal {
            width: 217px;
            &__close {
                right: -30px;
            }
            &__subtitle {
                font-size: 11px;
            }
            &__descr {
                font-size: 9px;
            }
        .feed-form, .feed-form input {
            width: 185px;
            }
            .button {
                font-size: 12px;
                height: 44px;
            }
        }
    }
}