// .owl-carousel {
//     position: relative;
//     width: 750px;
//     margin: 0 auto;
// }
// .owl-prev, .owl-next {
//     position: absolute;
//         top: 50%;
//         transform: translateY(-50%);
//         left: -66px;
//         border: none;
//         background-color: #fff;
//         img {
//         width: 31px;
//         height: 50px;
//         }
//     }
//     .owl-next {
//         left: auto;
//         right: -66px;
//     }
.carousel {
    padding: 81px 0;    
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
        width: 31px;
        height: 50px;
        }
    }
    .next {
        right: -66px;
        left: auto;
    }
    .tns {
        &-item {
        img {
            width: 100%;
            display: block;
            margin: 0 auto;
            padding: 0 10px;
            }
        }
        &-nav {
        text-align: center;
        button {
            background-color: red;
            padding: 2px 20px;
        }
        .tns-nav-active {
            background-color: blue;
        }
    }
    }
}